$content-width: 800px;
$main: white;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: #425469;
$heading-font: 'Muli', sans-serif;
$heading-font-color: darkgrey;
$light: #E7EDF4;
$header-color:  #347CC9;
