body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
}

h1, h2, h3 {
	font-weight: 600;
	color: #595959;
	font-family: $heading-font;
	line-height: 1.5;
}

h1 {
	color: black;
	font-size: 2.5em;
  letter-spacing: 1.5px;
	a, a:visited {
		text-decoration: none;
		color: $main;
	}
}

// header


header {
	background: $header-color;
	text-align: center;
	margin: 50px 0 0;
	height: 30vh;
  padding-top: 100px;
  border-top: 20px solid #1f4b7a;
  padding-bottom: 50px;
}

header p {
  margin: 0px 275px;
  color: black;
}

header h1 {
  font-family: 'Noticia Text', serif;
}

h2 {
	font-size: 2em;
}

// links

a, a:visited {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

main {
	max-width: $content-width;
	margin: 0 auto;
}

time {
	color: #898989;
}

.container {
	max-width: $content-width;
	margin: 0 auto;
}

// aside

aside {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	nav {
		float: right;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					&:hover,
          &:active {
						background: #1f4b7a;
						color: $main;
					}
				}
			}
		}
	}
}

// footer

footer {
	text-align: center;
	padding: 40px;
}

// blog

h4 {
  margin-top: -40px;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

.blog-title {
  border-right: 2px solid black;
  padding-right: 15px;
  margin-right: 15px;
  font-family: 'Noticia Text', serif;
	display: inline-block;
}

.blog-excerpt {
  clear: both;
}

// projects

.proj-container {
  width: 300px;
  height: 350px;
  border: 2px solid darkgrey;
  border-radius: 6px;
  display: inline-block;
  margin: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.proj-container h5 {
  text-align: center;
  font-size: 1.2em;
  margin-top: 50px;
  font-family: 'Noticia Text', serif;
	letter-spacing: 1.5px;
}

.proj-container p {
  text-align: center;
  padding: 0px 20px;
}

#line {
  border-bottom: 2px solid #1f4b7a;
  margin: 0px 20px;
}
